name: CI
on:
  push:
    branches:
      - "**"
    tags:
      - "v*"

jobs:
  validate:
    name: Validate Version
    runs-on: ubuntu-latest
    if: success() && startsWith( github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: match-tag-to-package-version
        uses: geritol/match-tag-to-package-version@0.2.0
        with:
          TAG_PREFIX: v
  
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npx vsce package
      - uses: actions/upload-artifact@v5
        with:
          path: "*.vsix"
  
  publish:
    runs-on: ubuntu-latest
    needs: [build, validate]
    if: success() && startsWith( github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
      - run: npx vsce publish --packagePath $(find . -iname *.vsix)
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
